{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <h3 class="card-title text-center">Log In</h3>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'signup' %}">Don't have an account? Sign Up</a>
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
